{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-shadow": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off"
  }
}
