{
  "extends": [
    "airbnb/base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "ignorePatterns": [
    "vendor/bundle"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-shadow": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off"
  }
}
