<div class="event" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= event.image_url %>'); background-size: cover;">
  <div class="event__body">
    <%= link_to event.venue_url, target: '_blank' do %>
      <h3 class="event__venue"><%= event.name %></h3>
    <% end %>
    <time class="event__time"><%= event.formatted_local_time %></time>
  </div>
 </div>