<div class="group" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= group.image_url %>'); background-size: cover;">
  <div class="group__body">
    <%= link_to group do %>
      <h3 class="group__name"><%= group.name %></h3>
    <% end %>
  </div>
 </div>