<header>
  <span class="logo">Gather</span>
  <ul class="header__links">
    <% if current_user %>
      <li><%= image_tag(current_user.avatar_url, class: 'header__avatar') %></li>
      <li><%= link_to('Sign out', auth_logout_path)%></li>
    <% else %>
      <li><%= link_to('Sign in', '/auth/twitter') %></li>
    <% end %>
  </ul>
</header>