<% set_meta_tags title: 'Find a Coffee Meetup', reverse: true %>
<% set_meta_tags description: 'Find a coffee meetup near you on Coffee.' %>
<% set_meta_tags og: {
  title: :full_title,
  type: 'website',
  image: og_events_image_url,
  url: request.original_url,
  description: :description
} %>

<div class="group-list">
  <%= render 'partials/group-list', groups: @groups %>
</div>
