<% set_meta_tags title: @group.name, reverse: true %>
<% set_meta_tags description: "#{@group.name} is hosting their events on Coffee." %>
<% set_meta_tags og: {
  title: :full_title,
  type: 'website',
  image: og_group_image_url(@group),
  url: group_url(@group),
  description: :description
} %>
<div class="group__subscribe-ical">
  <%= link_to('Subscribe to Calendar', group_ical_url(@group.id, protocol: :webcal), target: '_blank') %>
</div>
<div class="event-list">
  <%= render 'partials/event-list', events: @events %>
  <% if @past_events.count > 0 %>
    <h2>Past Events</h2>
    <%= render 'partials/event-list', events: @past_events %>
  <% end %>
</div>
