body {
  display: grid;
  grid-template-areas: 'header'
                       'main' // sass-lint:disable-line indentation
                       'footer'; // sass-lint:disable-line indentation
  grid-template-rows: 80px 1fr 80px;
  padding: 0 20px;

  @media (min-width: $md) {
    padding: 0 70px;
  }
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
