<div style="height: 100vh; margin: 0; display: flex; align-items: center; justify-content: center;">
  <div style="margin: 2em;">
    <p style="font-size: 2em; font-family: 'Lato', sans-serif; text-align: center;">
      <% if @event.present? %>
        <% start_at = @event.start_at_pacific %>
        <% date = start_at.to_date.to_formatted_s(:long) %>
        <% time = start_at.strftime('%-I:%M%p') %>
        <% location = @event.location %>
        <% location_url = @event.location_url %>
        The next event will be at <a href=<%= location_url %>><%= location %></a> at <%= time %> on <%= date %>. ☕
      <% else %>
        The next event has not been scheduled. Check back later. ☕
      <% end %>
    </p>
  </div>
</div>