header {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;

  a {
    color: $black;
  }

  .logo {
    font-size: 38px;
  }
}

.header__items {
  text-align: right;

  .header__avatar {
    border-radius: 50%;
    display: none;
    height: 40px;
    vertical-align: middle;

    @media (min-width: $sm) {
      display: initial;
    }
  }

  a {
    display: inline;
    font-size: 14px;
    font-weight: 600;
  }

  a,
  img {
    margin-left: 10px;
  }
}
