a {
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.events, .groups {
  padding: 20px;
}

.events h2 {
  text-align: center;
  margin: 40px;
}

.event, .group {
  background-size: cover !important;
  border-radius: 10px;
  height: 500px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
}

.event, .event a, .group, .group a {
  color: white;
}

.event h3, .group h3 {
  margin: 0;
  font-size: 3em;
  word-wrap: break-word;
}

.event__body, .group__body {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.group__subscribe-ical {
  text-align: center;
  margin: 40px auto;
}