$event-group-link-color: #fff;

a {
  text-decoration: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

.events,
.groups {
  padding: 20px;
}

.events {
  h2 {
    margin: 40px;
    text-align: center;
  }
}

.event,
.group {
  background-size: cover !important; // sass-lint:disable-line no-important
  border-radius: 10px;
  height: 500px;
  margin: 40px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;

  a {
    color: $event-group-link-color;
  }

  h3 {
    font-size: 3em;
    margin: 0;
    word-wrap: break-word;
  }
}

.event__body,
.group__body {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.group__subscribe-ical {
  margin: 40px auto;
  text-align: center;
}
