openapi: 3.0.0
info:
  title: Coffee
  description: Coffee
  version: 0.0.1
servers:
  - url: "https://coffeecoffeecoffee.coffee/api"
paths:
  "/groups":
    get:
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Group"
  "/groups/{group_id}/events":
    get:
      parameters:
        - name: group_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
components:
  schemas:
    Event:
      type: object
      required:
        - id
        - group_id
        - name
        - image_url
        - venue
        - venue_v2
        - start_at
        - end_at
      properties:
        id:
          type: string
        group_id:
          type: string
        name:
          type: string
        image_url:
          type: string
        venue:
          $ref: "#/components/schemas/DeprecatedVenue"
        venue_url:
          type: string
        venue_v2:
          $ref: "#/components/schemas/VenueV2"
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
    Group:
      type: object
      required:
        - id
        - name
        - image_url
        - time_zone
      properties:
        id:
          type: string
        name:
          type: string
        image_url:
          type: string
        time_zone:
          type: string
    VenueV2:
      oneOf:
        - $ref: "#/components/schemas/PhysicalVenue"
        - $ref: "#/components/schemas/RemoteVenue"
      discriminator:
        propertyName: type
        mapping:
          physical_venue: "#/components/schemas/PhysicalVenue"
          remote_venue: "#/components/schemas/RemoteVenue"
    PhysicalVenue:
      type: object
      required:
        - type
        - location
      properties:
        type:
          type: string
        location:
          $ref: "#/components/schemas/Location"
    RemoteVenue:
      type: object
      required:
        - type
        - url
      properties:
        type:
          type: string
        url:
          type: string
    Location:
      type: object
      required:
        - formatted_address
        - latitude
        - longitude
      properties:
        formatted_address:
          type: string
        latitude:
          type: number
        longitude:
          type: number
#
# Deprecated
#
    DeprecatedVenue:
      type: object
      required:
        - name
        - location
        - url
      properties:
        name:
          type: string
        location:
          $ref: "#/components/schemas/Location"
        url:
          type: string
